body
{
  
  padding: 0;
  text-align: center; ;
  font-family: 'Times New Roman', sans-serif;
  background-color: #dea;
}


div#conteneur
{
  max-width:100%;
  margin: 0 auto ;
  text-align: left;
  border: 10px solid #ab4 ;
  background: white ;
}

.header {
  width: 100%;
  height: 35%
}


#nav {
  text-align: center;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
} 


div#contenu
{}



div#contenu p
{
  
  text-indent: 2em ;
  line-height: 1.7em ;
}

.frame{
  max-width: 100%;
}


p#footer
{
  margin: 0 ;
  padding-right: 10px ;
  line-height: 30px ;
  text-align: right ;
  color: #8a0 ;
}
